<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nome Página{% endblock title %}</title>
</head>
<body>
    <header>
        <p><a href="{% url 'index' %}">Learning Log</a> - <a href="{% url 'topics' %}">Tópicos</a></p>
        {% if user.is_authenticated %}
            Olá, {{ user.username }}!
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
</body>
</html>