{% extends "learning_logs/base.html" %}

{% block title %}Tópicos{% endblock title %}
    
{% block header %}
    <h1>Tópicos</h1>
{% endblock header %}

{% block content %}
    <ul class="list-group">
        {% for topic in topics %}
            <li class="list-group-item"><h3><a href="{% url 'topic' topic.id %}">{{topic}}</a></h3></li>
        {% empty %}
            <li>Não há tópicos adicionados</li>
        {% endfor %}
    </ul>
    <h4><a href="{% url 'new_topic' %}">Adicionar novos tópicos</a></h4>
{% endblock content %}

{% block footer %}{% endblock footer %}