{% extends "learning_logs/base.html" %}

{% block title %}Notas do tópico ... {% endblock title %}
    
{% block content %}
    <p>Notas do tópico: {{topic}}</p>
    <ul>
        {% for note in entries %}
            <li><p>{{note.text | linebreaks}}</p>
                <p>{{note.date_added | date:'M d, Y H:i'}}</p>
                <p><a href="{% url 'edit_notes' note.id %}">Editar anotação</a></p>
            </li>
        {% empty %}
            <li>Não há notas adicionadas</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'new_notes' topic.id %}">Adicione uma nova anotação</a></p>
{% endblock content %}

{% block footer %}{% endblock footer %}