{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block title %}Página de Login{% endblock title %}
    
{% block header %}
    <h1>Entre com sua conta de login</h1>
{% endblock header %}

{% block content %}
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-default btn-sm btn-primary">Entrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}">
    </form>
{% endblock content %}

{% block footer %}{% endblock footer %}