{% extends "learning_logs/base.html" %}

{% block title %}Página de login{% endblock title %}
    
{% block content %}
    {% if form.errors %}
        <p>Seu login e senha estão incorretos. Por favor, tente novamente.</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Entrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}">
    </form>


{% endblock content %}

{% block footer %}
    <p>Nadaaaaa até então!</p>
{% endblock footer %}